header.nav.navbar navbar-expand-md navbar-dark fixed-top bg-dark{
    padding-bottom: 0px;
}

section.h3.display-4 text-center mt-5 mb-3 {
    font-family: "Montserrat", sans-serif;
}

.members {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.members h1,
.members h2,
.members h3,
.members h4,
.members h5,
.members h6 {
    color: #3e4555;
}

.members .font-weight-medium {
    font-weight: 100;
}

.members .bg-light {
    background-color: #66102030 !important;
}

.members .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.members .pro-pic {
    min-height: 50px;
}

.members .pro-pic .card-img-overlay ul {
    top: 50%;
}

.members .pro-pic .card-img-overlay ul li a {
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.members .pro-pic .card-img-overlay ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
}

.members .pro-pic:hover .card-img-overlay {
    display: block;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGithub:hover {
    background-color: #444444;
}

.social-network a.icoJoomla:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle a {
    background-color: #D3D3D3;
}

.btn-secondary {
    background-color: transparent;
    border-color: #c60063;
    color: #c60063;
}

div.card h-100 {
    background-color: #60102030;

}

footer mt-auto py-3 footer{
    background-color: #661020;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a85b6;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106,133,182,0.5), rgba(186,200,224,0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106,133,182,0.5), rgba(186,200,224,0.5))
  }
