html,
body {
  background-color: #66102018;
  height: 100%;
}

.form-request {
  max-width: 370px;
  padding: 15px;
  color: rgb(0, 0, 0);
}

.form-request .form-floating:focus-within {
  z-index: 2;
}

.form-request input[class="form-control"] {
  margin-bottom: 10px;
  margin-top: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-request textarea[class="form-control"] {
  margin-bottom: 20px;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .gradient-custom {
  	/* fallback for old browsers */
  	background: #888a85;

  	/* Chrome 10-25, Safari 5.1-6 */
  	background: -webkit-linear-gradient(to right, rgba(136,138,133,0.5), rgba(211,215,207,0.5));

  	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	background: linear-gradient(to right, rgba(136,138,133,0.5), rgba(211,215,207,0.5))
    }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
