a.boton{
    color:#FFFFFF;
}

.boton  {
        border-radius: 4px;
        background-color: #229cee;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
        padding: 16px;
        width: 200px;
        cursor: pointer;
        margin: 5px;
}
