<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Licita-Me</title>


<link href="../static/styles/bootstrap.min.css" rel="stylesheet">
    
    <link href="../static/styles/sticky-footer-navbar.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <img class="headerlogo" src="../static/images/logo3prueba.png" alt="">
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success buttons2" type="button">Sign in</button>
          <button class="btn btn-outline-success buttons2" type="button">Sign up</button>
        </form>
      </div>
    </div>
  </nav>
</header>
<div class="imagelogo">
  <img src="../static/images/logo11prueba.png" width="500" height="200">
</div>

<main class="flex-shrink-0">
  <div class="container">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet eget sit amet tellus cras adipiscing enim eu. Quis risus sed vulputate odio ut enim blandit. Amet est placerat in egestas erat imperdiet. Scelerisque fermentum dui faucibus in ornare quam. Facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris. Sed lectus vestibulum mattis ullamcorper. Ultrices neque ornare aenean euismod elementum nisi quis. </p>
  </div>
</main>

<footer class="footer mt-auto py-3 footer">
  <div class="container">
    <span class="text">The best options at the lowest prices</span>
  </div>
</footer>


    <script src="../static/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
