<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Licita-Me</title>
        <link rel="stylesheet" href="styles/landing.css"/>
    </head>
    <body style="background-color:#b0b9c1; border-bottom: 2px solid #000000;">
        <header style="background-color:#91989e; width: 100%;">
	<h1>Licita-Me(Logo)</h1>
        </header>
        <img src=”images/logo.png” position:absolute; top:0; left:0; right:0; bottom:0; margin:auto;/>
    <h2 style="text-align:center; margin-top:450px;">Some stats about the number fo requests and bids</h2>
    </body>
</html>
