<!doctype html>
<html lang="en">
  <head>
    <title>Licita-Me</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href="View/css/bootstrap.min.css" rel="stylesheet">
	<link href="View/css/bid.css" rel="stylesheet">
  </head>
  <body class="text-center align-middle gradient-custom">
	  <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home') }}"><img class="headerlogo" src="View/images/logo3prueba.png" alt=""></a>
          </div>
      </nav>
    </header>

<main class="form-signin m-auto d-flex align-middle">
 <form method="POST" enctype="multipart/form-data">
	 {{ form.hidden_tag() }}
    <img class="mb-4" src="View/images/requestpic.png" alt="Reqest png" width="150" height="150">
    <h1 class="h3 mb-3 fw-normal">Create Your Request</h1>
	<label for="{{ form.Title.id }}">Title</label>
    <div class="form-floating">
	  {{ form.Title(class_="form-control") }}
	 </div>
	  <label for="{{ form.Category.id }}">Category selection</label>
    <div class="form-floating">
        <!-- <select name="categoria" id="categoria" placeholder="Category" class="form-control" required>
            <option value="1">Obra Civil</option>
            <option value="2">Carpintería</option>
            <option value="3">Electrica</option>
            <option value="4">Sanitaria</option>
            <option value="5">Ingeniería</option>
        </select>-->
		{{ form.Category(class_="form-control") }}
    </div>
	<div class="row form-group form-floating">
	<label for="{{ form.FinishDate.id }}">Expiration date</label>
	<div class="datepicker-bid">
		<div class="input-group date" id="datepicker2">
			<!--<input type="text" class="form-control">-->
			{{ form.FinishDate(class_="form-control") }}
			<span class="input-group-append">
				<span class="input-group-text bg-white d-block">
				   <i class="fa fa-calendar"></i>
					</span>
				</span>
			</div>

		</div>
	</div>
	<label for="{{ form.Description.id }}">General description</label>
    <div class="comment">
	  {{ form.Description(class_="form-control",rows="4") }}
	</div>
	<label for="{{ form.files.id }}">Technical requirements</label>
      <div class="form-floating">
		  {{ form.files(class_="form-control",accept="application/pdf") }}
<!--<input type="file" placeholder="File upload" name="adjunto" accept="application/pdf, .doc, .docx" multiple required/>-->
      </div>

    <!--<button class="w-100 btn btn-lg btn-primary btn-ale" type="submit">Create</button>-->
	{{ form.submit(class_="w-100 btn btn-lg btn-primary btn-ale") }}
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>

  </form>
</main>
<script src="View/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
