<!doctype html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="View/css/signup.css">
  </head>
  <body class="h-100 gradient-custom">
	  <header>
		  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		  <div class="container-fluid">
			<img class="headerlogo" src="View/images/logo3prueba.png" alt="" width="200px">
		  <div class="box">
			  {% if current_user.is_authenticated %}
				 <a href="{{ url_for('logout') }}"><button class="btn btn-outline-success buttons2" type="button">Sign out</button></a>
			  {% else %}
				<a href="{{ url_for('signin') }}"><button class="btn btn-outline-success buttons2" type="button">Sign in</button></a>
			  {% endif %}
		  </div>
			</div>
		  </div>
		</nav>
	  </header>
    <section class="vh-100">
      <div class="fluid">

      </div

<section class="h-100 h-custom gradient-custom">
  <form method="post" action="">
	  {{ form.hidden_tag() }}
    <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #03020e;">User Infomation</h3>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <!--<input type="text" id="form3Examplev2" class="form-control form-control-lg" />-->
                        {{ form.CustomerName(class_="form-control") }}
                        <label class="form-label">First name</label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <!--<input type="text" id="form3Examplev3" class="form-control form-control-lg" />-->
                        {{ form.CustomerLastName(class_="form-control") }}
                        <label class="form-label">Last name</label>
                      </div>

                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <!--<input type="text" id="form3Examplev4" class="form-control form-control-lg" />-->
                      {{ form.Email(class_="form-control") }}
                      <label class="form-label">Email</label>
                    </div>

                    <br>
                    <br>

                    <div class="form-outline">
                        <!--<input type="text" id="form3Examplev4" class="form-control form-control-lg" />-->
                        {{ form.Phone(class_="form-control") }}
                        <label class="form-label">Phone</label>
                    </div>

                    <br>
                    <br>

                    <div class="form-outline">
                        <!--<input type="password" id="form3Examplev4" class="form-control form-control-lg" />-->
                        {{ form.Password(class_="form-control") }}
                        <label class="form-label">Password</label>
                    </div>
                    <br>
                    <br>

                    <div class="form-outline">
                        <!--<input type="password" id="form3Examplev4" class="form-control form-control-lg" />-->
                        {{ form.Confirm(class_="form-control") }}
                        <label class="form-label">Confirm Password</label>
                    </div>

                </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                    </div>
                  </div>

                </div>
              </div>
              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Business Information</h3>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <!--<input type="text" id="form3Examplea2" class="form-control form-control-lg" />-->
                      {{ form.CompanyName(class_="form-control") }}
                      <label class="form-label" for="form3Examplea2">Name</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <!--<input type="text" id="form3Examplea3" class="form-control form-control-lg" />-->
                      {{ form.RSocial(class_="form-control") }}
                      <label class="form-label" for="form3Examplea3">RSocial</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <!--<input type="text" id="form3Examplea4" class="form-control form-control-lg" />-->
                        {{ form.RUT(class_="form-control") }}
                        <label class="form-label" for="form3Examplea4">RUT</label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <!--<input type="text" id="form3Examplea5" class="form-control form-control-lg" />-->
                        {{ form.CompanyAddress(class_="form-control") }}
                        <label class="form-label" for="form3Examplea5">Adress</label>
                      </div>

                    </div>
                  </div>



                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <!--<input type="text" id="form3Examplea7" class="form-control form-control-lg" />-->
                        {{ form.CompanyCity(class_="form-control") }}
                        <label class="form-label" for="form3Examplea7">City</label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <!--<input type="text" id="form3Examplea8" class="form-control form-control-lg" />-->
                        {{ form.CompanyState(class_="form-control") }}
                        <label class="form-label" for="form3Examplea8">State</label>
                      </div>

                    </div>



                </div>

                  <div class="mb-4">
                    <div class="form-outline form-white">
                      <!--<input type="text" id="form3Examplea9" class="form-control form-control-lg" />-->
                      {{ form.CompanyPhone(class_="form-control") }}
                      <label class="form-label" for="form3Examplea9">Company phone</label>
                    </div>
                  </div>

                  <!--<button type="button" class="btn btn-light btn-lg"
                    data-mdb-ripple-color="dark">Register</button>-->
                    {{ form.submit(class_="btn btn-light btn-lg") }}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
